name: Release to NuGet

on:
  release:
    types: [published]

env:
  VERSION: ${{ github.event.release.prerelease && format('{0}-beta', github.event.release.tag_name) || github.event.release.tag_name }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.0.x
      - name: Build
        run: dotnet build -c Release /p:Version=$VERSION
      - name: Test
        run: dotnet test -c Release --no-build
      - name: Pack Funzo
        run: dotnet pack src/Funzo -c Release --no-build --output . /p:PackageVersion=$VERSION
      - name: Pack Serialization
        run: dotnet pack src/Funzo.Serialization -c Release --no-build --output . /p:PackageVersion=$VERSION
      - name: Pack Source Generators
        run: dotnet pack src/Funzo.SourceGenerators -c Release --no-build --output . /p:PackageVersion=$VERSION
      - name: Push to NuGet
        run: dotnet nuget push "*.nupkg" --api-key ${{secrets.nuget_api_key}} --source https://api.nuget.org/v3/index.json
